.custom-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
  
  .next-arrow {
    right: 10px;
  }
  
  .prev-arrow {
    left: 10px;
  }
  
  .video-card {
    padding: 10px;
    box-sizing: border-box;
  }
  
  .primary-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .primary-btn i {
    margin-right: 5px;
  }
  .card-title {
    color: white;
    max-width: 200px; /* Adjust the maximum width as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  